*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-content{
    display: block;
    height: 100Vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
}
.for-content{
    position: relative;
    top: 5%;
    height: 90%;
    width: 90%;
}
.loading iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}
